<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome!</title>
    <meta charset="UTF-8">
</head>
<style>
    table, th, td {
  border: 1px solid black;
}
</style>

<body>
    <h2>View/Download files or Upload New Files!</h2>
    <form method="POST" action="/" enctype="multipart/form-data">
        <input type="file" name="file">
        <button>Upload</button>
    </form>
    <table>
        <tr>
            <th> File Name </th>
            <th> Date Added </th>
            <th> Download </th>
        </tr>

        {% for file in file_info %}
            <tr>
                <td> {{file.File_Name}}</td>
                <td> {{file.Date_Added}}</td>
                <td> 
                    <form method="post" action="{{ url_for('download')}}">
                        <input type="hidden" name="file_id" value="{{ file.File_ID }} ">
                        <button>Download</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

</body>
    
</html>